<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>437760307306-d594h1vam4hcuhcg3gdi7mg5eqvv84q3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.437760307306-d594h1vam4hcuhcg3gdi7mg5eqvv84q3</string>
	<key>API_KEY</key>
	<string>AIzaSyCd2NzOTF-0y9_De3kH5U7zP8Az53qZAGg</string>
	<key>GCM_SENDER_ID</key>
	<string>437760307306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hahpuc.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-ca507</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-ca507.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:437760307306:ios:f0ef19368ab86679999a13</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-ca507.firebaseio.com</string>
</dict>
</plist>